<ul>
{% set address = tagsPrefix(tags, 'addr:') %}
{% if address %}
<li>
  <i class="fa fa-map-marker symbol" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('addr') }}</span>
  <span class='value'>
    {{ attribute(tags, 'addr:street') }}
    {{ attribute(tags, 'addr:housenumber') }},
    {{ attribute(tags, 'addr:postcode') }}
    {{ attribute(tags, 'addr:city') }}
  </span>
</li>
{% endif %}

{% if tags.phone %}
<li>
  <i class="fa fa-phone symbol" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('phone') }}</span>
  <span class='value'>
    <a href='tel:{{ tags.phone }}'>{{ tags.phone }}</a>
  </span>
</li>
{% endif %}

{% set payment = tagsPrefix(tags, 'payment:') %}
{% if payment %}
<li>
  <i class="fa fa-money symbol" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('payment') }}</span>
  <span class='value'>
    {% for k, tag in payment %}
    {% if tags[tag] == 'no' %}<s>{{ k }}</s> {% else %}{{ k }} {% endif %}
    {% endfor %}
  </span>
</li>
{% endif %}

{% if attribute(tags, 'wheelchair') %}
<li>
  <i class="fa fa-wheelchair-alt symbol" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('wheelchair') }}</span>
  <span class='value'>
    {{ tagTrans('wheelchair', tags.wheelchair) }}
  </span>
</li>
{% endif %}

</ul>
