<ul>
{% set hasDescription = tagsPrefix(tags, 'description:') %}
{% if tags.description or hasDescription %}
<li class='hasSymbol'>
  <i class="fa fa-info" aria-hidden="true"></i>
  <span class='value'>{{ localizedTag(tags, 'description')|default(attribute(tags, 'description:' ~ hasDescription|keys[0]))|nl2br }}</span>
</li>
{% endif %}

{% set address = tagsPrefix(tags, 'addr:') %}
{% if address %}
<li class='hasSymbol'>
  <i class="fa fa-map-marker" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('address') }}:</span>
  <span class='value'>
    {{ attribute(tags, 'addr:street') }}
    {{ attribute(tags, 'addr:housenumber') }},
    {{ attribute(tags, 'addr:postcode') }}
    {{ attribute(tags, 'addr:city') }}
  </span>
</li>
{% endif %}

{% set address = tagsPrefix(tags, 'contact:') %}
{% if address %}
<li class='hasSymbol'>
  <i class="fa fa-map-marker" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('address') }}:</span>
  <span class='value'>
    {{ attribute(tags, 'contact:street') }}
    {{ attribute(tags, 'contact:housenumber') }},
    {{ attribute(tags, 'contact:postcode') }}
    {{ attribute(tags, 'contact:city') }}
  </span>
</li>
{% endif %}

{% if layer_id|split('/')|last != 'etymology' and (attribute(tags, 'name:etymology') or attribute(tags, 'name:etymology:wikidata')) %}
<li class='hasSymbol'>
  <i class="fa fa-book" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('name:etymology') }}:</span>
  <span class='value'>
  {% set etymWikidata = attribute(tags, 'name:etymology:wikidata') %}
  {% if etymWikidata %}
    {% set etymWikidata = etymWikidata|split(';') %}
    {% set etymName = attribute(tags, 'name:etymology')|split(';') %}

    {% set result = [] %}
    {% for i in 0..max(etymName|length - 1, etymWikidata|length - 1) %}
      {% set result = result|merge([ etymWikidata[i] ? '<a target="_blank" href="https://wikidata.org/wiki/' ~ etymWikidata[i]|url_encode ~ '">' ~ (etymName[i]|default(etymWikidata[i]))|e ~ '</a>' : etymName[i]|e ]) %}
    {% endfor %}
    {{ result|enumerate|raw }}
  {% else %}
    {{ attribute(tags, "name:etymology")|enumerate }}
  {% endif %}
  </span>
</li>
{% endif %}

{% if tags.website %}
<li class='hasSymbol'>
  <i class="fa fa-globe" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('website') }}:</span>
  <span class='value'>
    {% for i, v in tags.website|split(';') -%}
    {%- if i > 0 %}, {% endif %}
    <a target='_blank' href='{{ v|websiteUrl }}'>{{ v }}</a>
    {%- endfor %}
  </span>
</li>
{% endif %}

{% if attribute(tags, 'contact:website') %}
<li class='hasSymbol'>
  <i class="fa fa-globe" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('website') }}:</span>
  <span class='value'>
    {% for i, v in attribute(tags, 'contact:website')|split(';') -%}
    {%- if i > 0 %}, {% endif %}
    <a target='_blank' href='{{ v|websiteUrl }}'>{{ v }}</a>
    {%- endfor %}
  </span>
</li>
{% endif %}

{% if tags.phone %}
<li class='hasSymbol'>
  <i class="fa fa-phone" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('phone') }}:</span>
  <span class='value'>
    {% for i, v in tags.phone|split(';') -%}
    {%- if i > 0 %}, {% endif %}
    <a target='_blank' href='tel:{{ v }}'>{{ v }}</a>
    {%- endfor %}
  </span>
</li>
{% endif %}

{% if attribute(tags, 'contact:phone') %}
<li class='hasSymbol'>
  <i class="fa fa-phone" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('phone') }}:</span>
  <span class='value'>
    {% for i, v in attribute(tags, 'contact:phone')|split(';') -%}
    {%- if i > 0 %}, {% endif %}
    <a target='_blank' href='tel:{{ v }}'>{{ v }}</a>
    {%- endfor %}
  </span>
</li>
{% endif %}


{% if attribute(tags, 'contact:email') %}
<li class='hasSymbol'>
  <i class="fa fa-envelope" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('email') }}:</span>
  <span class='value'>
    {% for i, v in attribute(tags, 'contact:email')|split(';') -%}
    {%- if i > 0 %}, {% endif %}
    <a target='_blank' href='mailto:{{ v }}'>{{ v }}</a>
    {%- endfor %}
  </span>
</li>
{% endif %}

{% if attribute(tags, 'email') %}
<li class='hasSymbol'>
  <i class="fa fa-envelope" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('email') }}:</span>
  <span class='value'>
    {% for i, v in tags.email|split(';') -%}
    {%- if i > 0 %}, {% endif %}
    <a target='_blank' href='mailto:{{ v }}'>{{ v }}</a>
    {%- endfor %}
  </span>
</li>
{% endif %}

{% if tags.opening_hours %}
<li class='hasSymbol'>
  <i class="fa fa-clock-o" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('opening_hours') }}:</span>
  <span class='value'>
    {{ tags.opening_hours }}
  </span>
</li>
{% endif %}

{% set payment = tagsPrefix(tags, 'payment:') %}
{% if payment %}
<li class='hasSymbol'>
  <i class="fa fa-money" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('payment') }}:</span>
  <span class='value'>
    {% set i = 0 %}
    {% for k, tag in payment %}
    {%- if i > 0 %},{% endif %}
    <span title="{{ tagTrans(k, tags[tag]) }}">{% if tags[tag] == 'no' %}<s>{{ keyTrans(tag, { default: k }) }}</s>{% else %}{{ keyTrans(tag, { default: k }) }}{% endif -%}</span>
    {% set i = i + 1 -%}
    {% endfor %}
  </span>
</li>
{% endif %}

{% if attribute(tags, 'wheelchair') %}
<li class='hasSymbol'>
  <i class="fa fa-info-circle" aria-hidden="true"></i>
  <span class='key'>{{ trans('facilities') }}:</span>
  <span class='value'>
  
  <ul>
  {% if attribute(tags, 'wheelchair') %}
    <li class='hasSymbol'>
      <i class="fa fa-wheelchair-alt {{ tags.wheelchair }}" aria-hidden="true"></i>
      <span class='key'>{{ keyTrans('wheelchair') }}:</span>
      <span class='value'>
      {{ tagTrans('wheelchair', tags.wheelchair) }}
      <ul>
      {% if attribute(tags, 'toilets:wheelchair') %}
        <li class='hasSymbol'>
          <span class='{{ attribute(tags, 'toilets:wheelchair') }} symbol'>&#128701;</span>
          <span class='key'>{{ keyTrans('toilets:wheelchair') }}:</span>
          <span class='value'>{{ tagTrans('toilets:wheelchair', attribute(tags, 'toilets:wheelchair')) }}</span>
        </li>
      {% endif %}
      </ul>
      </span>
    </li>
  {% endif %}
  </ul>
  </span>
</li>
{% endif %}

{% if tags.year_of_construction or tags.start_date or tags.opening_date or tags.end_date %}
  <li class='hasSymbol'>
   <i class="fa fa-clock-o" aria-hidden="true"></i>

{% if tags.year_of_construction %}
   <span class='key'>{{ keyTrans('year_of_construction') }}:</span>
   <span class='value'>{{ tags.year_of_construction|osmFormatDate }}</span>
   <br/>
{% endif %}

{% if tags.start_date %}
   <span class='key'>{{ keyTrans('start_date') }}:</span>
   <span class='value'>{{ tags.start_date|osmFormatDate }}</span>
   <br/>
{% endif %}

{% if tags.opening_date %}
   <span class='key'>{{ keyTrans('opening_date') }}:</span>
   <span class='value'>{{ tags.opening_date|osmFormatDate }}</span>
{% endif %}

{% if tags.end_date %}
   <span class='key'>{{ keyTrans('end_date') }}:</span>
   <span class='value'>{{ tags.end_date|osmFormatDate }}</span>
{% endif %}
  </li>
{% endif %}

</ul>
