<ul>
{% set hasDescription = tagsPrefix(tags, 'description:') %}
{% if tags.description or hasDescription %}
<li class='hasSymbol'>
  <i class="fa fa-info" aria-hidden="true"></i>
  <span class='value'>{{ localizedTag(tags, 'description')|default(attribute(tags, 'description:' ~ hasDescription|keys[0])) }}</span>
</li>
{% endif %}

{% set address = tagsPrefix(tags, 'addr:') %}
{% if address %}
<li class='hasSymbol'>
  <i class="fa fa-map-marker" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('address') }}:</span>
  <span class='value'>
    {{ attribute(tags, 'addr:street') }}
    {{ attribute(tags, 'addr:housenumber') }},
    {{ attribute(tags, 'addr:postcode') }}
    {{ attribute(tags, 'addr:city') }}
  </span>
</li>
{% endif %}

{% if tags.website %}
<li class='hasSymbol'>
  <i class="fa fa-globe" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('website') }}:</span>
  <span class='value'>
    <a target='_blank' href='{{ tags.website|websiteUrl }}'>{{ tags.website }}</a>
  </span>
</li>
{% endif %}

{% if attribute(tags, 'contact:website') %}
<li class='hasSymbol'>
  <i class="fa fa-globe" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('website') }}:</span>
  <span class='value'>
    <a target='_blank' href='{{ attribute(tags, 'contact:website')|websiteUrl }}'>{{ attribute(tags, 'contact:website') }}</a>
  </span>
</li>
{% endif %}

{% if tags.phone %}
<li class='hasSymbol'>
  <i class="fa fa-phone" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('phone') }}:</span>
  <span class='value'>
    <a target='_blank' href='tel:{{ tags.phone }}'>{{ tags.phone }}</a>
  </span>
</li>
{% endif %}

{% if attribute(tags, 'contact:phone') %}
<li class='hasSymbol'>
  <i class="fa fa-phone" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('phone') }}:</span>
  <span class='value'>
    <a target='_blank' href='tel:{{ attribute(tags, 'contact:phone') }}'>{{ attribute(tags, 'contact:phone') }}</a>
  </span>
</li>
{% endif %}

{% if attribute(tags, 'contact:email') %}
<li class='hasSymbol'>
  <i class="fa fa-envelope" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('email') }}:</span>
  <span class='value'>
    <a target='_blank' href='mailto:{{ attribute(tags, 'contact:email') }}'>
    {{ attribute(tags, 'contact:email') }}
    </a>
  </span>
</li>
{% endif %}

{% if attribute(tags, 'email') %}
<li class='hasSymbol'>
  <i class="fa fa-envelope" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('email') }}:</span>
  <span class='value'>
    <a target='_blank' href='mailto:{{ attribute(tags, 'email') }}'>
    {{ attribute(tags, 'email') }}
    </a>
  </span>
</li>
{% endif %}

{% if tags.opening_hours %}
<li class='hasSymbol'>
  <i class="fa fa-clock-o" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('opening_hours') }}:</span>
  <span class='value'>
    {{ tags.opening_hours }}
  </span>
</li>
{% endif %}

{% set payment = tagsPrefix(tags, 'payment:') %}
{% if payment %}
<li class='hasSymbol'>
  <i class="fa fa-money" aria-hidden="true"></i>
  <span class='key'>{{ keyTrans('payment') }}:</span>
  <span class='value'>
    {% set i = 0 %}
    {% for k, tag in payment %}
    {%- if i > 0 %},{% endif %}
    <span title="{{ tagTrans(k, tags[tag]) }}">{% if tags[tag] == 'no' %}<s>{{ keyTrans(tag, { default: k }) }}</s>{% else %}{{ keyTrans(tag, { default: k }) }}{% endif -%}</span>
    {% set i = i + 1 -%}
    {% endfor %}
  </span>
</li>
{% endif %}

{% if attribute(tags, 'wheelchair') %}
<li class='hasSymbol'>
  <i class="fa fa-info-circle" aria-hidden="true"></i>
  <span class='key'>{{ trans('facilities') }}:</span>
  <span class='value'>
  
  <ul>
  {% if attribute(tags, 'wheelchair') %}
    <li class='hasSymbol'>
      <i class="fa fa-wheelchair-alt {{ tags.wheelchair }}" aria-hidden="true"></i>
      <span class='key'>{{ keyTrans('wheelchair') }}:</span>
      <span class='value'>
      {{ tagTrans('wheelchair', tags.wheelchair) }}
      <ul>
      {% if attribute(tags, 'toilets:wheelchair') %}
        <li class='hasSymbol'>
          <span class='{{ attribute(tags, 'toilets:wheelchair') }} symbol'>&#128701;</span>
          <span class='key'>{{ keyTrans('toilets:wheelchair') }}:</span>
          <span class='value'>{{ tagTrans('toilets:wheelchair', attribute(tags, 'toilets:wheelchair')) }}</span>
        </li>
      {% endif %}
      </ul>
      </span>
    </li>
  {% endif %}
  </ul>
  </span>
</li>
{% endif %}

{% if tags.start_date %}
  <li class='hasSymbol'>
   <i class="fa fa-clock-o" aria-hidden="true"></i>
   <span class='key'>{{ keyTrans('start_date') }}:</span>
   <span class='value'>{{ tags.start_date|osmFormatDate }}</span>
  </li>
{% endif %}

{% if tags.opening_date %}
  <li class='hasSymbol'>
   <i class="fa fa-clock-o" aria-hidden="true"></i>
   <span class='key'>{{ keyTrans('opening_date') }}:</span>
   <span class='value'>{{ tags.opening_date|osmFormatDate }}</span>
  </li>
{% endif %}

</ul>
